nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    color: #FFFFFF !important;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 0px;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
    white-space: nowrap;
}

@media screen and (max-width: 800px) {
    nav a {
        font-size: 2ch;
        padding: 0.4rem 0.5vw;
        letter-spacing: 0px;
    }

}

nav a:hover {
    color: #39FF14 !important;
}


footer {
    background-color: #000000 !important;
    color: #D3D3D3;
    text-align: center;
    padding: 2rem 0;
    border-top: 3px solid #1E90FF;
    margin-top: 3rem;
}